################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AsciiTable/SortedList/obj/Debug/SortedList.csprojAssemblyReference.cache
